header, nav, footer{
    background-color: #013265;
}

nav li:hover{
    background-color: #0177C3;
}

h1{
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
}

h2, h3{
    padding: 10px 25px;
}

h3{
    font-size: 21px;
}

img{
    width: 100%;
}

.exhibitions-top{
    background-image: url(../images/exhibition.jpg);
    padding: 90px 20px 40px 20px;
}

.exhibitions-top-text{
    background-color:rgb(1, 119, 195, 0.90);
    padding: 20px 30px;
    color: white;
}

.exhibitions-top-text p{
    display:none;
}

.cosmology, .evolution, .robotics, .ecology, .biology{
    width: 90%;
    background-color: #0177C3;
    color: white;
    margin:25px auto;
}

.cosmology p, .evolution p, .robotics p, .ecology p, .biology p, .professor p, .night-museum p, .solar-energy p{
    margin:20px 25px;
    padding-bottom: 20px;
}

.professor, .night-museum, .solar-energy{
    width: 90%;
    background-color:#9D1E87;
    color: white;
    margin:20px auto;
}

.spesial-events-headline{
    background-color: #013265;
    color: white;
    text-transform:uppercase;
    font-size: 20px;
}

@media (min-width: 400px){

    .exhibitions-top-text p{
        display:unset;
    }

    .cosmology, .evolution, .robotics, .ecology, .biology, .professor, .night-museum, .solar-energy{
        max-width: 350px;
    }

    .spesial-events-headline{
        padding: 15px;
        text-align: center;
    }
}

@media (min-width: 600px){

    .cosmology, .evolution, .robotics, .ecology, .biology, .professor, .night-museum, .solar-energy{
        max-width: 300px;
    }

    .exhibitions, .spesial-events{
        display: flex;
        flex-wrap: wrap;
    }

    main img{
        height: 200px;
    }
}

@media (min-width: 700px){

    .exhibitions, .spesial-events, .exhibitions-top-text{
        margin: 20px auto;
    }

    .exhibitions-top-text{
        max-width: 650px;
        padding: 20px 30px 35px 30px;
    }
}

@media (min-width: 1200px){

    .exhibitions, .spesial-events{
        max-width: 1200px;
    }

    .cosmology, .evolution, .robotics, .ecology, .biology, .professor, .night-museum, .solar-energy{
        max-width: 370px;
        margin:15px;
    }

    main img{
        height: 250px;
    }

    .spesial-events-headline{
        padding: 25px;
    }

    .exhibitions-top-text{
        max-width: 800px;
        margin:50px auto;
        padding: 20px 40px 40px 40px;
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }
        
}
