
header, nav, footer{
    background-color: #013265;
}

img{
    max-width: 100%;
}

.opening-hours{
    background-image: url(../images/scott-webb-2.jpg);
    padding:100px 20px 50px 20px;
}

.opening-text{
    background-color:rgb(1, 119, 195, 0.8);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}

.admission{
    padding: 20px 20px;
}

h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.info{
    background-color: #FFD27E;
    padding: 20px 20px;
}

.location{
    background-color:#013265;
    padding: 10px 0px 1px 0px;
    color: white;
    text-align: center;
    font-size: 15px;
}

@media (min-width: 700px){

    .opening-text, .admission, .info-text{
        width: 600px;  
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

    h2, h3{
        text-align: center;
    }

    iframe{
        width: 600px;
        height: 400px;
    }
}

@media (min-width: 1200px){

    .opening-hours{
        padding: 170px 0px 150px 0px;
    }
    
    .admission, .info-text{
        width: 800px;  
        padding: 10px;
    }

    iframe{
        width: 1000px;
        height: 500px;
    }
}
